@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  font-size: 13px;
  margin: 0;
}

/*Variables*/

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

/*Fonts*/
.manrope-500 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.manrope-700 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/*Card*/

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 400px;
  height: 500px;
  border: 1px solid black;
}

.image-container {
  width: 100%;
  height: 35%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}

.text-container {
  margin-top: 1rem;
  padding: 0 1.5rem;
}

.text-container h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--Very-Dark-Grayish-Blue);
}

.text-container p {
  color: var(--Desaturated-Dark-Blue);
}
